{% extends "layout.html" %}

{% block main %}
    <form action="/edit_pass" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="shaded-input" name="old_password" placeholder="Old password" type="password">
        </div>

        <div class="mb-3">
            <input autocomplete="off" class="shaded-input" name="new_password" placeholder="New password" type="password">
        </div>

        <div class="mb-3">
            <input autocomplete="off" class="shaded-input" name="new_pass_again" placeholder="New password again" type="password">
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Change password</button>
        </div>
    </form>
{% endblock %}
