{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h5>Somos LearnWay!</h5>
        <h3>Accede a nuestros Cursos Online</h3>
    </div>

    <!-- Primera fila estática -->
    <div class="mb-3">
        <div class="row align-items-start" id="services">
            <div class="col">
              <div class="card" style="width: 100%;" id="service">
                <img style="width:400px; height:250px;"
                    src="https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="d-block w-100"
                    alt="Creacion" 
                    id="card_img">
                <div class="card-body">
                  <h4 class="card-title">Titulo del curso 1</h4>
                  <h5 class="card-text">Breve descripcion del curso. Frase que motive a tomar el curso.</h5>
                  <a href="/course_preview" class="btn" id="btn_service">Inscribirme</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 100%;" id="service">
                <img style="width:400px; height:250px;"
                    src="https://images.pexels.com/photos/208560/pexels-photo-208560.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="d-block w-100"
                    alt="Limpieza"
                    id="card_img">
                <div class="card-body">
                  <h4 class="card-title">Titulo del curso 2</h4>
                  <h5 class="card-text">Breve descripcion del curso. Frase que motive a tomar el curso.</h5>
                  <a href="/contact" class="btn" id="btn_service">Inscribirme</a>
                </div>
              </div>
            </div>  
            <div class="col">
              <div class="card" style="width: 100%;" id="service">
                <img style="width:400px; height:250px;"
                    src="https://images.pexels.com/photos/91413/pexels-photo-91413.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="d-block w-100"
                    alt="Restauracion"
                    id="card_img">
                <div class="card-body">
                  <h4 class="card-title">Titulo del curso 3</h4>
                  <h5 class="card-text">Breve descripcion del curso. Frase que motive a tomar el curso.</h5>
                  <a href="/contact" class="btn" id="btn_service">Inscribirme</a>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- Filas dinámicas -->
    <div class="mb-3">
      {% for i in range(0, courses|length, 3) %}
      <div class="row align-items-start" id="services">
          {% for course in courses[i:i+3] %}
          <div class="col-md-4 d-flex">
              <div class="card" style="width: 100%;" id="service">
              <img style="width:400px; height:250px;"
                  src="{{ course['course_img'] }}"
                  class="d-block w-100"
                  alt="{{ course['title'] }}"
                  id="card_img">
              <div class="card-body">
                  <h4 class="card-title">{{ course.title }}</h4>
                  <h5 class="card-text">{{ course.card_description }}</h5>
                  <a href="/course_preview/{{ course.id }}" class="btn" id="btn_service">Inscribirme</a>
              </div>
              </div>
          </div>
          {% endfor %}
      </div>
      {% endfor %}
  </div>
{% endblock %}
