{% extends "layout.html" %}

{% block title %}
    List
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h5>This strategy's list of students:</h5>
        <h6>{{ strategy_selected[0]['type'] }} about: "{{ strategy_selected[0]['topic'] }}" | {{ strategy_selected[0]['percentage'] }}% | {{ strategy_selected[0]['date'] }}</h6>
    </div>
    <div class="mb-3">
            <table>
                <thead>
                    <tr class="high">
                        <th>ID <input class="filter" type="text" id="filterID" placeholder="filter"></th>
                        <th>Names <input class="filter" type="text" id="filterName" placeholder="filter"></th>
                        <th>Surnames <input class="filter" type="text" id="filterSurname" placeholder="filter"></th>
                        <th>Grade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for student in list_students %}
                        <tr>
                            <td>{{ student['student_id'] }}</td>
                            <td>{{ student['names'] }}</td>
                            <td>{{ student['last_names'] }}</td>
                            <td>{{ student['grade'] }}</td>
                            <td>                     
                                <button class="btn btn-primary" type="button" onclick="showForm(this)">Edit</button>
                                <form id="edit-form-{{ loop.index }}" style="display: none;" action="/strategies_grades" method="post">
                                    <input type="hidden" name="student_id" value="{{ student['student_id'] }}">
                                    <input type="hidden" name="strategy_id" value="{{ student['strategy_id'] }}">
                                    <input class="grade_value" type="number" name="grade" placeholder="{{ student['grade'] }}" min="0" max="10" minlength="1">
                                    <input class="enroll" type="submit" value="Save">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
            <script>
                function showForm(button) {
                  // Obtener el índice de la fila (asumiendo que los botones tienen la misma estructura)
                  var rowIndex = button.parentNode.parentNode.rowIndex;
                  
                  // Obtener el ID del formulario
                  var formId = "edit-form-" + rowIndex;
    
                  // Mostrar el formulario
                  document.getElementById(formId).style.display = "block";
                }
            </script>
    </div>

    <script>
        const filterID = document.getElementById('filterID')
        const filterName = document.getElementById('filterName');
        const filterSurname = document.getElementById('filterSurname');
        // ... otros elementos de filtro ...
      
        function filterTable() {
          const rows = document.querySelectorAll('table tbody tr');
          const idFilter = filterID.value;
          const nameFilter = filterName.value.toLowerCase();
          const surnameFilter = filterSurname.value.toLowerCase();
      
          rows.forEach(row => {
            const idCell = row.cells[0]; // Ajusta el índice si la columna de nombre no es la tercera
            const nameCell = row.cells[1]; // Ajusta el índice si la columna de facultad no es la cuarta
            const surnameCell = row.cells[2];

            const idMatch = idCell.textContent.includes(idFilter);
            const nameMatch = nameCell.textContent.toLowerCase().includes(nameFilter);
            const surnameMatch = surnameCell.textContent.toLowerCase().includes(surnameFilter);
      
            row.style.display = idMatch && nameMatch && surnameMatch ? '' : 'none';
          });
        }
      
        // Asignar event listeners a todos los campos de filtro
        filterID.addEventListener('keyup', filterTable);
        filterName.addEventListener('keyup', filterTable);
        filterSurname.addEventListener('keyup', filterTable);
        // ... otros event listeners ...
    </script>
{% endblock %}
