{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h5>Welcome, {{ learner[0]['names'] }} {{ learner[0]['last_names'] }}</h5>
        <h3>I'm studying...</h3>
    </div>
    <div class="mb-3">
        <table>
            <thead>
                <tr class="high">
                    <th>Name</th>
                    <th>Professor</th>
                    <th>Credits</th>
                    <th>Semester</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>

                {% for subject in subjects %}
                    <tr>
                        <td>{{ subject['name'] }}</td>
                        <td>{{ subject['names'] }} {{ subject['last_names'] }}</td>
                        <td>{{ subject['credits'] }}</td>
                        <td>{{ subject['semester'] }}</td>
                        <td>{{ subject['grade'] }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
